<!DOCTYPE html>
<html>
<head>
  <title>Tableau de bord</title>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
    }
    .left-section, .right-section {
      flex: 1;
      padding: 20px;
      min-height: 100vh;
    }
    .left-section {
      background-color: #f7f7f7;
    }
    .right-section {
      background-color: #fff;
    }
    #map {
      height: 90%;
      border: 1px solid #ddd;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    ul li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #eaeaea;
      border-radius: 5px;
    }
    .itineraire-list-container {
      max-height: 70vh; /* Hauteur maximale de la liste des itinéraires */
      overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    }
    button {
      bottom: 20px;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #45a049;
    }
    a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: #333;
    }
  </style>
</head>
<body>
  <div class="left-section">
    <h1>Bienvenue <%= username %> !</h1>
    <h2>Itinéraires sauvegardés</h2>
    <div class="itineraire-list-container">
      <% if (myItinaries) { %>
        <% let itinerariesArray = Array.isArray(myItinaries) ? myItinaries : [myItinaries]; %>
        <% if (itinerariesArray.length > 0) { %>
          <ul>
            <% itinerariesArray.forEach(function(itineraire) { %>
              <li><%= itineraire.name %></li>
              <% }); %>
            </ul>
            <% } else { %>
              <p>Aucun itinéraire sauvegardé.</p>
              <% } %>
              <% } else { %>
                <p>Aucun itinéraire sauvegardé.</p>
                <% } %>
              </div>
              <button onclick="createNewItineraire()">Créer un nouvel itinéraire</button>
              <button onclick="listeStations()" >Accéder à la liste des stations et leur occupation actuelle</button>
            </div>
            <div class="right-section">
              <h2>Informations sur les stations</h2>
              <div id="map"></div>
            </div>
            
            <script src="js/index.js" type="text/javascript"></script>
            <script>
              
              function getAddressWithLatLon(lat, lon){
                return fetch(`https://api-adresse.data.gouv.fr/reverse/?lon=${lon}&lat=${lat}`)
                .then(response => response.json())
                .then(data => {
                  if (data.features.length > 0) {
                    return data.features[0].properties.label;
                  }
                  return "No address";
                })
                .catch(error => {
                  console.error("Error fetching address:", error);
                  return "Error fetching address";
                });
              }
              
              function test(){
                alert("ok")
              }
              
              function createNewItineraire() {
                // Logique pour créer un nouvel itinéraire
                // Rediriger vers la page de création d'itinéraire
                window.location.href = "/itineraire";
              }
              
              function listeStations() {
                // Logique pour créer un nouvel itinéraire
                // Rediriger vers la page de création d'itinéraire
                window.location.href = "/stations";
              }
              
              // Initialiser la carte
              var map = L.map("map").setView([48.8566, 2.3522], 15);
              
              // Ajouter une couche de tuiles OpenStreetMap
              L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution: "© OpenStreetMap contributors",
              }).addTo(map);
              
              // Afficher les stations sur la carte
              var stations = [<%- JSON.stringify(stations) %>];
              
              stations[0].forEach(function (station) {
                createMarker(station.lat, station.lon, null, station);
              });
              
              // // Afficher le dashboard après connexion
              // function showDashboard() {
                //   document.getElementById("dashboard").style.display = "block";
                // }
                
                // // Événement de clic sur le bouton "Créer un nouvel itinéraire"
                // document
                //   .getElementById("newItineraryBtn")
                //   .addEventListener("click", function () {
                  //     // Afficher la carte pour créer un nouvel itinéraire
                  //     map.invalidateSize();
                  //     // Ici, vous pouvez ajouter le code pour enregistrer les coordonnées au clic sur la carte
                  //   });
                  
                  // // Événement de clic sur le lien "Liste des stations"
                  // document
                  //   .getElementById("stationsLink")
                  //   .addEventListener("click", function (e) {
                    //     e.preventDefault();
                    //     // Ici, vous pouvez ajouter le code pour afficher la liste des stations
                    //   });
                  </script>
                </body>
                </html>
                