<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord</title>
</head>
<body>
    <h1>Bienvenue Utilisateur(e)!</h1>
    
    <h2>Itinéraires sauvegardés</h2>
    <ul>
        <!-- Afficher la liste des itinéraires précédemment sauvegardés -->
        <li>Itinéraire 1 <a href="/download/pdf/itineraire1.pdf">Télécharger PDF</a></li>
        <li>Itinéraire 2 <a href="/download/pdf/itineraire2.pdf">Télécharger PDF</a></li>
        <li>Itinéraire 3 <a href="/download/pdf/itineraire3.pdf">Télécharger PDF</a></li>
    </ul>
    
    <button onclick="createNewItineraire()">Créer un nouvel itinéraire</button>
    
    <a href="/stations">Accéder à la liste des stations et leur occupation actuelle</a>
    
    <script>
        function createNewItineraire() {
            // Logique pour créer un nouvel itinéraire
        }
    </script>
</body>
</html>
