<!DOCTYPE html>
<html>
<head>
    <title>Création d'Itinéraire</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: start;
        }
        #map {
            width: 50%;
            height: 600px;
            border: 1px solid #ddd;
        }
        #form {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
        }
        .search-container, form button, form input[type="text"], form input[type="submit"] {
            width: 100%;
            margin-bottom: 15px;
        }
        form button, form input[type="submit"] {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        form button:hover, form input[type="submit"]:hover {
            background-color: #45a049;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        ul li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #eaeaea;
            border-radius: 5px;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
        }
        .search-container {
            display: flex;
            align-items: center;
        }
        .search-container input[type="text"] {
            flex-grow: 1;
        }
        .reset-button {
            background: none;
            border: none;
            color: black;
            padding: 0;
            cursor: pointer;
        }
        .reset-button:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="form">
        <h1>Créer un Itinéraire</h1>
        <form action="/itineraire" method="POST">
            <div class="search-container">
                <input type="text" name="itineraryName" id="itineraryName" placeholder="Nom de l'itinéraire">
            </div>

            <div class="button-container">
                <button type="button" onclick="setActiveMarker('start')">Définir le départ</button>
                <button type="button" onclick="setActiveMarker('end')">Définir l'arrivée</button>
            </div>

            <div class="search-container">
                <input type="text" name="startAddressSearch" id="startAddressSearch" placeholder="Adresse de départ">
                <button onclick="searchAddress('start')">Rechercher Départ</button>
            </div>
            <button class="reset-button" onclick="resetStartMarker()">Réinitialiser Départ</button>

            <div class="search-container">
                <input type="text" name="endAddressSearch" id="endAddressSearch" placeholder="Adresse d'arrivée">
                <button onclick="searchAddress('end')">Rechercher Arrivée</button>
            </div>
            <button class="reset-button" onclick="resetEndMarker()">Réinitialiser Arrivée</button>

        <input type="hidden" name="data-lat-start" id="data-lat-start">
        <input type="hidden" name="data-lon-start" id="data-lon-start">
        <input type="hidden" name="data-lat-end" id="data-lat-end">
        <input type="hidden" name="data-lon-end" id="data-lon-end">

        <input type="submit" name="saveitin" value="Enregistrer l'itinéraire">
    </form>
    </div>
    <div id="map"></div>


    <script src="js/index.js" type="text/javascript"></script>

    <script>
        var map = L.map('map').setView([48.8566, 2.3522], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var startMarker, endMarker;
        var activeMarkerType = 'start';

        map.on('click', function(e) {
            fetch(`https://api-adresse.data.gouv.fr/reverse/?lon=${e.latlng.lng}&lat=${e.latlng.lat}`)
                .then(response => response.json())
                .then(data => {
                    if (data.features.length > 0) {
                        var address = data.features[0].properties.label;
                        if (activeMarkerType === 'start') {
                            resetStartMarker();
                            startMarker = createMarker(e.latlng.lat, e.latlng.lng, 'start');
                            document.getElementById('startAddressSearch').value = address;
                            document.getElementById('data-lat-start').value = e.latlng.lat;
                            document.getElementById('data-lon-start').value = e.latlng.lng;
                        } else {
                            resetEndMarker();
                            endMarker = createMarker(e.latlng.lat, e.latlng.lng, 'end');
                            document.getElementById('endAddressSearch').value = address;
                            document.getElementById('data-lat-end').value = e.latlng.lat;
                            document.getElementById('data-lon-end').value = e.latlng.lng;
                        }
                    }
                });
        });
    </script>
</body>
</html>
