<form action="/login" method="post">
    <label for="login">Nom d'utilisateur ou email</label>
    <input id="login" type="text" name="username" placeholder="matthieu_73 / test@test.com" required>
    <label for="password">Mot de Passe</label>
    <input id="password" type="password" name="password" placeholder="Mot de passe" required>
    <button type="submit">Se connecter</button>
</form>
