<!DOCTYPE html>
<html>
  <head>
    <title>Informations stations</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  </head>
  <body>
    <h2>Informations Stations !</h2>
    <ul>
        <li>
            <ol>
                <li>test</li>
            </ol>
        </li>
    </ul>
  </body>
</html>
